h1 {
  font-size: 54px;
  line-height: 70px;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.3px;
}

h5 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
}

p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
