<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category Card</title>
    <link rel="stylesheet" href="card.css" />
  </head>
  <body>
    <div class="category-card card-2">
      <img src="./assets/image 5.png" alt="" class="category-img" />
      <div class="category-body"></div>
      <div class="category-type">
        <h4 class="category-title">Shoes</h4>
        <p class="category-subtitle">10,000 items</p>
      </div>
    </div>
  </body>
</html>
