<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Slider</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <div id="wrapper">
      <ul class="carousel">
        <li class="card">
          <a href="#">
            <div class="img">
              <img src="./assets/produk-1.png" alt="" draggable="false" />
              <h2>Nike Adidas</h2>
              <span>Rp 2,999,999</span>
            </div>
          </a>
        </li>
        <li class="card">
          <a href="#">
            <div class="img">
              <img src="./assets/produk-2.png" alt="" draggable="false" />
              <h2>Nike Adidas</h2>
              <span>Rp 2,999,999</span>
            </div>
          </a>
        </li>
        <li class="card">
          <a href="#">
            <div class="img">
              <img src="./assets/produk-3.png" alt="" draggable="false" />
              <h2>Nike Adidas</h2>
              <span>Rp 2,999,999</span>
            </div>
          </a>
        </li>
        <li class="card">
          <a href="#">
            <div class="img">
              <img src="./assets/produk-4.png" alt="" draggable="false" />
              <h2>Nike Adidas</h2>
              <span>Rp 2,999,999</span>
            </div>
          </a>
        </li>
        <li class="card">
          <a href="#">
            <div class="img">
              <img src="./assets/produk-5.png" alt="" draggable="false" />
              <h2>Nike Adidas</h2>
              <span>Rp 2,999,999</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
